.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #151515;
    padding: 10px;
}

.navbar ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.navbar li form {
    padding: 15px 20px;
}

.navbar li button {
   margin-left: 10px
}

.navbar li a:hover {
    background-color: #0c0c0c;
}

.search-form {
    position: absolute;
    top: 0;
    right: 30px;
}