.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #FFAA12;
}

.navbar Link {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar Button {
   margin-left: 10px
}

.login {
    position: absolute;
    top: 0;
    right: 30px;
}