.header {
    padding: 125px 0;
    margin: 0px;
    width: 100%;
    align-items: center;
    background-color: aliceblue;
    background-image: url(header.png);
}
.header h1 {
    background-color: #101010;
    width: fit-content;
    font-size: 45px;
    float: center;
    padding: 3px;
}

.header h3 {
    width: fit-content;
    font-size: 25px;
    background-color: #101010;
    padding: 3px;
    float: center;
}

.outlined {
    color: aliceblue;
    text-shadow: -2px -2px 0 #252525, 2px -2px 0 #252525, -2px 2px 0 #252525, 2px 2px 0 #252525;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}