.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #151515;
    padding: 10px;
}

.toolbar ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toolbar li {
    float: left;
}

.toolbar li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.toolbar li form {
    padding: 14px 16px;
}

.toolbar li button {
   margin-left: 5px
}

.toolbar li a:hover {
    background-color: #0c0c0c;
}
.search-form {
    position: absolute;
    top: 0;
    right: 30px;
}